/*in chatbot.html:*/
#chat{
    width: 40%;
}

.response_text{
    padding: 20px;
    margin-right: 60%;
    color: black;
    background-color: rgb(247, 245, 245);
    border-radius:10px;
}
.user_text{
    padding: 20px;
    margin-left: 60%;
    background-color: #7879f1;
    color: white;
    border-radius: 10px;
}

#chatbot_input_field{
    width:90%;
    line-height: 30px;
    border-radius: 30px;
}
#chatbot_input_button{
    color: white;
    background-color: #7879f1;
    width:6%;
    height: 35px;
    border-radius: 20px;
}
.chatbot_input{
   margin-left:2.5%;
   margin-right:1.5%;
   width: 100%;
}

/*in index and logged in view*/
#chatbot{
    visibility: hidden;
    width:25%;
    height:20%;
    position:fixed;
    bottom:0px;
    right: 25%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(235, 235, 235, 0.637);
    
}

#chatbot_btn{
    color:white;
    background-color: #7879f1;
    height: 30px;
    font-size: 16px;
}

.chatbot_text{
    position: relative;
    text-align: center;
    margin-top:40px;
}

.chatbot_elements{
    position: relative;
    left:15%;
    width:70%;
}


#response_text_reveal{
    visibility: hidden;
}

a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 72px;
}


nav{
    margin-top: 2vw;
    margin-bottom: 5%;
    padding-bottom: 5vh;
}

#nav_menu{
    float:right;
    margin-right: 3vw;
    margin-top: 1.5vw;
}

#nav_icon{
    float: left;
    display: inline;
    margin-left: 4.5vw;
    
}

nav ul{
    list-style-type: none;
    margin:0;
    /*padding;*/
    overflow:hidden;
    text-align: right;
}

nav li{
    float: left;
    font-family: "HelveticaNeue", "Arial", sans-serif;
    font-size: 1em;
    line-height: 2em;
    height: 2em;
    padding: 1vw;
    
}
nav a{
    text-decoration: none;
    color: #606060;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:active, a:hover{
    color: #7879f1;
}

/*in logged in views/ my schedule, chat, etc - dropdown in nav*/
.dropdown{
    position:relative;
    display:inline-block;
}

.dropdown_content{
    display:none;
    position:relative;
    z-index: 1;
}

.dropdown:hover .dropdown_content {
    display:block;
}


body {
    font-family: "HelveticaNeue", "Arial", sans-serif;
    padding: 0;
    margin-left: 5%;
    margin-right:5%;
}

.flex_container {
    display: flex;
    flex-direction: row;
    height:calc(100%);
}

.flex_col_left {
    width: 50%;
    /*background-color: white;*/
    text-align: left;
    color: black;
}

.flex_col_right {
    width: 50%;
    color: black;
    height: 100vh;
}

.internal_flex_container {
    display: flex;
    flex-direction: row;
}

.internal_left {
    width: 50%;
    height: 100vh;
    /*background-color: white;*/
    text-align: left;
    color: black;
}

.form_right {
    width:25%;
    /*padding-left: 60%;*/
    margin-left: 40%;
}

.units {
    display: block; 
}

.internal_right {
    width: 50%;
    color: black;
    height: 100vh;
}
 .long_lineheight{
     line-height: 25px;
 }

form{
    box-sizing: border-box;
}


button{
    border:none;
    border-radius: 5px;
    background-color:#dadada
}